# Processing and visualisation

In [11]:
import pandas as pd

data_dir = '/Users/ariane/Documents/code/MinION/manucript/notebooks/Ape AGW/Data/'
# First we want to map between the dataset with the LC-MS results and the raw data columns
evseq_df = pd.read_csv(f'{data_dir}ep_EVSeqL/20240422-YL.csv', index_col=0)
evseq_df['id'] = [f'{p[0]}_{p[1]}' for p in evseq_df[['Plate', 'Well']].values]
# 300-1.csv 
evseq_df

,barcode_plate,Plate,Well,Variant,Alignment Count,Average mutation frequency,P value,P adj. value,Mutations,nc_variant,aa_variant,id
0,1,300-1,A1,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,300-1_A1
96,2,300-2,A1,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,300-2_A1
144,2,300-2,E1,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,300-2_E1
145,2,300-2,E2,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,300-2_E2
207,3,500-1,B4,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,500-1_B4
...,...,...,...,...,...,...,...,...,...,...,...,...
239,3,500-1,D12,G510A,124,0.959677,2.780000e-199,2.670000e-197,W170*,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,500-1_D12
108,2,300-2,B1,#PARENT#,132,NaN,NaN,NaN,#PARENT#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,300-2_B1
130,2,300-2,C11,G489DEL,149,0.966443,3.090000e-232,2.960000e-230,-,Deletion,Deletion,300-2_C11
181,2,300-2,H2,T526C_A528C_C529G_G532DEL_T533DEL_A534DEL_G535...,198,0.794765,0.000000e+00,0.000000e+00,-,Deletion,Deletion,300-2_H2
118,2,300-2,B11,#PARENT#,217,NaN,NaN,NaN,#PARENT#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...,300-2_B11

In [13]:
# Also get all the LC-MS data
import os

files = os.listdir(f'{data_dir}lcms-processed/')
data_df = pd.DataFrame()
for f in files:
    df = pd.read_csv(f'{data_dir}lcms-processed/{f}')
    # Make the ID based on the filename
    plate_id = f.split('.csv')[0]
    df['Plate'] = plate_id
    # Now add in the actual ID too
    df['id'] = [f'{p[0]}_{p[1]}' for p in df[['Plate', 'Well']].values]
    data_df = pd.concat([data_df, df])
data_df

,Well,Row,Column,Plate,cis,trans,id,Variant,Normalized Activity
0,A1,A,1,500-2,1.060808e+04,0.000000e+00,500-2_A1,NaN,NaN
1,A2,A,2,500-2,5.961494e+05,4.705581e+05,500-2_A2,NaN,NaN
2,A3,A,3,500-2,8.323569e+05,7.204202e+05,500-2_A3,NaN,NaN
3,A4,A,4,500-2,5.993150e+05,4.741821e+05,500-2_A4,NaN,NaN
4,A5,A,5,500-2,1.650538e+05,1.827627e+05,500-2_A5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
91,H8,H,8,300-1,0.000000e+00,0.000000e+00,300-1_H8,Sterile,0.0000
92,H9,H,9,300-1,8.062858e+04,8.377119e+04,300-1_H9,Variant,-3142.6048
93,H10,H,10,300-1,2.125053e+06,1.702450e+06,300-1_H10,Variant,422602.6030
94,H11,H,11,300-1,3.598001e+05,3.347269e+05,300-1_H11,Variant,25073.1457
95,H12,H,12,300-1,1.282695e+06,1.171647e+06,300-1_H12,Variant,111047.5960

In [19]:
# Set the index for both of them 
# data_df.set_index('id', inplace=True)
# evseq_df.set_index('id', inplace=True)
df = data_df.join(evseq_df, how='inner', lsuffix='_data', rsuffix='_seq')
df

,Well_data,Row,Column,Plate_data,cis,trans,Variant_data,Normalized Activity,barcode_plate,Plate_seq,Well_seq,Variant_seq,Alignment Count,Average mutation frequency,P value,P adj. value,Mutations,nc_variant,aa_variant
id,,,,,,,,,,,,,,,,,,,
500-2_A1,A1,A,1,500-2,1.060808e+04,0.000000e+00,NaN,NaN,4,500-2,A1,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
500-2_A2,A2,A,2,500-2,5.961494e+05,4.705581e+05,NaN,NaN,4,500-2,A2,#N.A.#,0,NaN,NaN,NaN,#N.A.#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
500-2_A3,A3,A,3,500-2,8.323569e+05,7.204202e+05,NaN,NaN,4,500-2,A3,T326G,22,0.863636,2.290000e-29,2.200000e-27,M109R,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
500-2_A4,A4,A,4,500-2,5.993150e+05,4.741821e+05,NaN,NaN,4,500-2,A4,#PARENT#,12,NaN,NaN,NaN,#PARENT#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
500-2_A5,A5,A,5,500-2,1.650538e+05,1.827627e+05,NaN,NaN,4,500-2,A5,T21C_G25DEL_A179T_A240T_A320G,21,0.980952,1.180000e-140,1.130000e-138,-,Deletion,Deletion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300-1_H8,H8,H,8,300-1,0.000000e+00,0.000000e+00,Sterile,0.0000,1,300-1,H8,NaN,7,NaN,NaN,NaN,#PARENT#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
300-1_H9,H9,H,9,300-1,8.062858e+04,8.377119e+04,Variant,-3142.6048,1,300-1,H9,T317A_A562G,66,0.915385,3.200000e-177,3.070000e-175,L106*_T188A,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
300-1_H10,H10,H,10,300-1,2.125053e+06,1.702450e+06,Variant,422602.6030,1,300-1,H10,T21C_T289C_T326C,52,0.532051,3.830000e-82,3.670000e-80,M109T,ATGGCGGTTCCCGGCTACGACTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
300-1_H11,H11,H,11,300-1,3.598001e+05,3.347269e+05,Variant,25073.1457,1,300-1,H11,A38G,43,0.951220,2.850000e-62,2.740000e-60,D13G,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGGTGCCCCAA...,MAVPGYDFGKVPGAPISDADFESLKKTVMWGEEDEKYRKMACEALK...
300-1_H12,H12,H,12,300-1,1.282695e+06,1.171647e+06,Variant,111047.5960,1,300-1,H12,#PARENT#,48,NaN,NaN,NaN,#PARENT#,ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...,MAVPGYDFGKVPDAPISDADFESLKKTVMWGEEDEKYRKMACEALK...

In [20]:
df.to_csv(f'{data_dir}output.csv')

# Processing

Once we've joined the dataframes there are several things we want to do to visualise the results.

1. We want to encode the sequences as one hot and then visualise the errors
2. Combine each of the features in various ways